#axel.color-favorito{background-color: blue; color:white }

#sofia.color-favorito{background-color: black;    color: white}

#citlalli.color-favorito{
	background-color: rgb(245, 66, 167);
}

#jorge.color-favorito{
    background-color: red;
}

#emilio.color-favorito{
    background-color: rgb(30, 129, 80);
}

table {
    border:1px solid black;
}
    